
<!DOCTYPE html>
<html lang="en">
<head>
<title>Allô Santé Express</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Allô Santé Express">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
	
	<!-- css files -->
	<link href="../css/Old/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="../css/mdb.min.css" rel='stylesheet' type='text/css' />
	<link href="../css/Old/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Allo Santé Express Vous facilite votre gestion</h1>
					<img src="../css/Old/images/image.png" class="logoDebut" alt="" />
				</div>
			</div>
			<div class="w3_info">
				<h2>Connexion à votre compte</h2>
				<form action="/ryu/login" method="post">
					<label>Nom d'utilisateur</label>
					<div class="input-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<input type="text" name="email" required=""> 
					</div>
					<label>Mot de passe</label>
					<div class="input-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<input type="password" name="password" required="">
					</div> 						
						<button class="btn btn-info btn-block" type="submit">Se Connecter</button >                
				</form>
				<p class="account"><a href="#" data-toggle="modal" data-target="#centralModalSm">Terms & Conditions!</a></p>
			</div>
		</div>

		<!-- //main content -->
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; 2019 Allô Santé Express. Tout droit reservé </p>
	</div>
	<!-- Central Modal Small -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Terms & Conditions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
			<div class="row">
				<p>INFORMATIONS JURIDIQUES IMPORTANTES SUR LA MANI&Egrave;RE DONT VOUS POUVEZ UTILISER NOTRE SITE</p>
<p>1.Les pr&eacute;sentes Conditions d&rsquo;utilisation s&rsquo;appliquent &agrave; votre utilisation du pr&eacute;sent site Internet (le&nbsp;Site). En utilisant le Site, vous acceptez d&rsquo;&ecirc;tre li&eacute; par ces Conditions g&eacute;n&eacute;rales et toutes les autres conditions &eacute;tablies sur le Site, notamment la Politique de confidentialit&eacute; et la Politique en mati&egrave;re de cookies, telles qu&rsquo;amend&eacute;es et mises &agrave; jour de temps &agrave; autre. SI VOUS N&rsquo;ACCEPTEZ PAS LES CONDITIONS D&rsquo;UTILISATION, N&rsquo;UTILISEZ PAS LE SITE.</p>
<p>2.Vous ne pouvez utiliser le Site que pour votre usage personnel et non commercial. Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; utiliser le Site en tant que source d&rsquo;informations ou de nouvelles pour cr&eacute;er votre propre contenu, car cela porterait atteinte &agrave; nos droits. Nous poursuivrons quiconque copie ou utilise autrement notre Contenu d&rsquo;une mani&egrave;re non autoris&eacute;e par nous, et pour tout usage autre que personnel et non commercial.</p>
<p>3.Nous contr&ocirc;lerons votre usage de notre Site pour veiller &agrave; ce que notre Contenu ne soit pas utilis&eacute; d&rsquo;une quelconque mani&egrave;re non express&eacute;ment autoris&eacute;e par nous. Si vous &ecirc;tes un utilisateur commercial, vous consentez &agrave; ce que nous contr&ocirc;lions vos services pour veiller &agrave; ce que vous soyez en stricte conformit&eacute; avec nos Conditions d&rsquo;utilisation.</p>
<p>4.Nous d&eacute;clinons toute responsabilit&eacute; pour le Contenu ou les publicit&eacute;s de tierces parties disponibles sur le Site.</p>
<p>INFORMATIONS JURIDIQUES PLUS D&Eacute;TAILL&Eacute;ES</p>
<p>Nous nous r&eacute;servons le droit,&nbsp; de changer, modifier, ajouter ou supprimer tout ou partie des pr&eacute;sentes Conditions d&rsquo;utilisation &agrave; tout moment. Nous vous informerons de la modification des Conditions d&rsquo;utilisation. La poursuite de votre utilisation du Site apr&egrave;s toute modification signifiera que vous acceptez ces changements. Tant que vous serez en conformit&eacute; avec les pr&eacute;sentes Conditions d&rsquo;utilisation, nous vous accordons une licence personnelle, non exclusive, non cessible et restreinte pour acc&eacute;der au Site et l&rsquo;utiliser.</p>
<p>1.D&eacute;finitions.</p>
<p>&laquo;&nbsp;Vous&nbsp;&raquo;&nbsp;: d&eacute;signe vous, l&rsquo;utilisateur du Site, et &laquo;&nbsp;votre&nbsp;&raquo; sera interpr&eacute;t&eacute; en ce sens.</p>
<p>Informations de l&rsquo;utilisateur&nbsp;&raquo;&nbsp;: d&eacute;signe les donn&eacute;es personnelles susceptibles de nous &ecirc;tre fournies par vous sur le Site.</p>
<p>&laquo;&nbsp;Utilisateurs&nbsp;&raquo;&nbsp;: d&eacute;signe les utilisateurs du Site collectivement ou individuellement selon le contexte dans lequel le terme est utilis&eacute; dans les pr&eacute;sentes Conditions d&rsquo;utilisation.</p>
<p>&laquo;&nbsp;Contenu&nbsp;&raquo;&nbsp;: d&eacute;signe tous les textes, graphiques, interfaces d&rsquo;utilisateurs, interfaces visuelles, photographies, marques de commerce, logos, sons, musique, &oelig;uvres d&rsquo;art et codes informatiques contenus sur le Site, y compris, sans s&rsquo;y restreindre, la conception, la structure, la s&eacute;lection, la coordination, l&rsquo;expression, la richesse fonctionnelle, et l&rsquo;organisation de ce contenu.</p>
<p>2. Utilisation acceptable</p>
<p>Vous vous engagez &agrave; ce que toute utilisation du Site par vous soit en accord avec les conditions suivantes&nbsp;:</p>
<p>2.1 &nbsp;Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; utiliser de &laquo;&nbsp;lien profond&nbsp;&raquo;, de syst&egrave;me de &laquo;&nbsp;scraping&nbsp;&raquo;, &laquo;&nbsp;robot&nbsp;&raquo;, &laquo;&nbsp;araign&eacute;e&nbsp;&raquo; ou autre dispositif, programme, algorithme ou m&eacute;thode automatique, ou bien tout autre proc&eacute;d&eacute; manuel similaire ou &eacute;quivalent, pour acc&eacute;der &agrave;, acqu&eacute;rir, copier ou suivre toute partie du Site ou tout Contenu, ou de quelque mani&egrave;re que ce soit, pour reproduire ou contourner la structure de navigation ou la pr&eacute;sentation du Site ou de tout Contenu, ou pour obtenir ou tenter d&rsquo;obtenir du Contenu, documents ou informations par tout moyen qui n&rsquo;est pas intentionnellement mis &agrave; disposition sur le Site. Nous nous r&eacute;servons le droit de contr&ocirc;ler et de bloquer toute activit&eacute; de la sorte.</p>
<p>2.2 &nbsp;Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; tenter d&rsquo;obtenir un acc&egrave;s non autoris&eacute; &agrave; une quelconque partie ou fonctionnalit&eacute; du Site, ou &agrave; tout autre syst&egrave;me ou r&eacute;seau connect&eacute; au Site ou &agrave; ses serveurs, ou &agrave; un quelconque des services propos&eacute;s sur ou par l&rsquo;interm&eacute;diaire du Site, en piratant, en cherchant &agrave; extraire des mots de passe (&laquo;&nbsp;password mining&nbsp;&raquo;) ou en recourant &agrave; tout autre moyen ill&eacute;gitime.</p>
<p>2.3 &nbsp;Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; sonder, scanner ou tester la vuln&eacute;rabilit&eacute; du Site ou de tout r&eacute;seau connect&eacute; au Site, ni &agrave; faire obstacle aux mesures de s&eacute;curit&eacute; ou d&rsquo;authentification du Site ou de tout autre r&eacute;seau connect&eacute; au Site. Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; effectuer une recherche invers&eacute;e, &agrave; suivre toute information concernant tout autre Utilisateur ou visiteur du Site, ou un quelconque de nos clients, y compris tout compte du Site (le cas &eacute;ch&eacute;ant) dont vous n&rsquo;&ecirc;tes pas titulaire, pour remonter &agrave; sa source, ou exploiter le Site ou tout autre service ou information mise &agrave; disposition ou propos&eacute;e par ou sur le Site, de quelque mani&egrave;re que ce soit, d&egrave;s lors que l&rsquo;objectif est de r&eacute;v&eacute;ler des informations, y compris, sans s&rsquo;y restreindre, une identification personnelle ou autres informations qui ne vous appartiennent pas.</p>
<p>2.4 &nbsp;Vous vous engagez &agrave; ne pas prendre de mesures qui imposent une charge d&eacute;raisonnable ou disproportionn&eacute;e sur l&rsquo;infrastructure du Site ou nos syst&egrave;mes ou r&eacute;seaux, ou tout syst&egrave;me ou r&eacute;seau connect&eacute; au Site.</p>
<p>2.5 &nbsp;Vous vous engagez &agrave; ne pas utiliser de dispositif, logiciel ou routine pour perturber ou tenter de perturber le bon fonctionnement du Site ou l&rsquo;acc&egrave;s d&rsquo;un quelconque autre Utilisateur du Site.</p>
<p>2.6 &nbsp;Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; falsifier les intitul&eacute;s ou autrement manipuler les identifiants dans le but de masquer l&rsquo;origine de tout message ou toute transmission que vous envoyez au Site, sur ou par l&rsquo;interm&eacute;diaire du Site ou de tout autre service mis &agrave; disposition sur ou par l&rsquo;interm&eacute;diaire du Site. Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; vous faire passer pour, ou pr&eacute;tendre repr&eacute;senter, quelqu&rsquo;un d&rsquo;autre, ou &agrave; imiter une personne physique ou morale.</p>
<p>2.7 &nbsp;Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; utiliser le Site ou tout Contenu pour tout motif ill&eacute;gal ou interdit par les pr&eacute;sentes Conditions d&rsquo;utilisation ou par la loi, ou &agrave; solliciter la r&eacute;alisation de toute activit&eacute; qui est ill&eacute;gale ou porte autrement atteinte &agrave; nos droits ou aux droits de tiers.</p>
<p>2.8 &nbsp;Publication de Contenu. Vous vous engagez &agrave; ne pas transmettre ou publier sur le Site de Contenu diffamatoire, mena&ccedil;ant, obsc&egrave;ne, malfaisant, pornographique ou autrement ill&eacute;gal qui porterait atteinte de quelque mani&egrave;re que ce soit &agrave; nos droits ou aux droits de tierces parties (y compris les droits de propri&eacute;t&eacute; intellectuelle, le droit &agrave; la confidentialit&eacute; ou au respect de la vie priv&eacute;e) ou causerait des troubles ou des d&eacute;sagr&eacute;ments. Vous vous engagez &agrave; vous abstenir d&rsquo;exprimer des opinions vulgaires, grossi&egrave;res, sexistes, racistes ou autrement choquantes. Vous devez toujours traiter les autres Utilisateurs avec respect.</p>
<p>2.9 &nbsp;Vous vous engagez &agrave; ne pas publier ou autrement mettre &agrave; disposition sur le Site des Contenus dont vous n&rsquo;&ecirc;tes pas propri&eacute;taire ou que vous n&rsquo;&ecirc;tes pas formellement autoris&eacute; &agrave; publier ou mettre &agrave; disposition par leur propri&eacute;taire.</p>
<p>2.10 &nbsp;Vous vous engagez &agrave; ne pas copier, t&eacute;l&eacute;charger, reproduire, republier, imiter ou transmettre de quelque mani&egrave;re que ce soit tout mat&eacute;riel sur le Site, sauf dans la mesure strictement n&eacute;cessaire pour votre usage personnel et non commercial.</p>
<p>2.11 &nbsp;Prix promotionnels. Vous vous conformerez aux r&egrave;gles particuli&egrave;res de toute promotion ou tout concours auquel vous participez sur le Site ou par l&rsquo;interm&eacute;diaire de celui-ci. Sauf sur instruction contraire de notre part, tous les tirages au sort et concours propos&eacute;s sur le Site ne sont pas ouverts aux personnes qui r&eacute;sident en dehors de la France, sauf mention contraire dans les conditions g&eacute;n&eacute;rales du tirage au sort ou concours. Vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; utiliser une tierce partie, notamment un service mandataire, un interm&eacute;diaire ou un agent, pour participer &agrave; un concours ou tirage au sort en votre nom. Toutes les inscriptions effectu&eacute;es ou suspect&eacute;es d&rsquo;avoir &eacute;t&eacute; effectu&eacute;es sous un faux nom seront disqualifi&eacute;es.</p>
<p>&nbsp;</p>
<p>2.12 &nbsp;S&eacute;curit&eacute;. Certaines fonctions ou certains services propos&eacute;s sur le Site ou par l&rsquo;interm&eacute;diaire de celui-ci peuvent n&eacute;cessiter votre inscription (y compris l&rsquo;&eacute;tablissement d&rsquo;un identifiant et d&rsquo;un mot de passe d&rsquo;utilisateur). Vous &ecirc;tes enti&egrave;rement responsable du maintien de la confidentialit&eacute; de vos donn&eacute;es d&rsquo;inscription, notamment de votre mot de passe et de toutes les activit&eacute;s qui sont effectu&eacute;es avec vos donn&eacute;es d&rsquo;inscription. Vous devez donc veiller &agrave; la confidentialit&eacute; et &agrave; la s&eacute;curit&eacute; de ces informations. Vous acceptez de nous signaler imm&eacute;diatement toute utilisation non autoris&eacute;e de votre identifiant ou de votre mot de passe, ou toute autre atteinte aux r&egrave;gles de s&eacute;curit&eacute; dont vous pourriez avoir connaissance.</p>
<p>Dans les conditions et limites pr&eacute;vues par la loi, Vous pouvez &ecirc;tre tenu responsable pour les pertes encourues par nous ou par un autre utilisateur ou visiteur du Site, imputables &agrave; l&rsquo;utilisation par quelqu&rsquo;un d&rsquo;autre de votre identifiant, mot de passe ou compte en raison de votre d&eacute;faillance &agrave; veiller &agrave; la confidentialit&eacute; et &agrave; la s&eacute;curit&eacute; des donn&eacute;es de votre compte.</p>
<p>Vous n&rsquo;&ecirc;tes &agrave; aucun moment autoris&eacute; &agrave; utiliser l&rsquo;identifiant ou le mot de passe d&rsquo;un tiers sans le consentement formel du titulaire de cet identifiant ou mot de passe. Nous d&eacute;clinons toute responsabilit&eacute; en cas de perte ou de pr&eacute;judice d&eacute;coulant de votre non-respect de ces obligations.</p>
<p>3.Sites Internet de tiers et annonceurs&nbsp;</p>
<p>3.1&nbsp;Sites reli&eacute;s.&nbsp;Ce Site peut contenir des liens vers d&rsquo;autres sites de tiers ind&eacute;pendants (les&nbsp;Sites reli&eacute;s). Ces Sites reli&eacute;s sont propos&eacute;s uniquement &agrave; titre pratique pour nos Utilisateurs. Nous ne contr&ocirc;lons pas les Sites reli&eacute;s. Nous ne sommes pas responsables des Sites reli&eacute;s et n&rsquo;approuvons pas leur Contenu. Vous devrez restez vigilant et attentif en ce qui concerne votre interaction avec ces Sites reli&eacute;s.</p>
<p>3.2 &nbsp;Annonceurs tiers. Toutes les transactions entre vous et des annonceurs ou commer&ccedil;ants tiers trouv&eacute;s sur le Site ou par l&rsquo;interm&eacute;diaire de celui-ci, y compris le paiement et la livraison de produits ou services, et les modalit&eacute;s, conditions, garanties ou affirmations associ&eacute;es &agrave; ces transactions, sont conclues entre vous et l&rsquo;annonceur ou commer&ccedil;ant en question. Nous ne sommes donc pas responsables d&rsquo;une quelconque perte ou d&rsquo;un quelconque pr&eacute;judice encouru en cons&eacute;quence de ces transactions ni des cookies que les annonceurs peuvent placer sur votre ordinateur.</p>
<p>De mani&egrave;re g&eacute;n&eacute;rale, pour plus d&rsquo;informations au sujet des cookies, veuillez consulter notre&nbsp;<a href="https://www.voyage.fr/politique-en-matiere-de-cookies-2018" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.voyage.fr/politique-en-matiere-de-cookies-2018&amp;source=gmail&amp;ust=1574900092846000&amp;usg=AFQjCNFa5d1Xx8mDYTGXGIGBnUQVdFPNDw">Politique en mati&egrave;re de cookies</a>.</p>
<p>4. Teneur</p>
<p>4.1 L&rsquo;ensemble du Contenu que nous publions est d&eacute;tenu ou contr&ocirc;l&eacute; par nous, ou nous est accord&eacute; sous licence, et est prot&eacute;g&eacute; par la loi, le droit d&rsquo;auteur, le droit des brevets et le droit des marques, et par divers autres droits de propri&eacute;t&eacute; intellectuelle et lois sur la concurrence d&eacute;loyale.</p>
<p>4.2 &nbsp;Sauf dans la mesure formellement stipul&eacute;e dans les pr&eacute;sentes Conditions d&rsquo;utilisation, aucune partie de ce Site et aucun &eacute;l&eacute;ment de Contenu ne peut &ecirc;tre copi&eacute;, reproduit, republi&eacute;, utilis&eacute; en tant que source de nouvelles, t&eacute;l&eacute;charg&eacute;, publi&eacute;, affich&eacute; publiquement, encod&eacute;, traduit, transmis ou distribu&eacute; de quelque mani&egrave;re que ce soit (y compris par un&nbsp;site miroir) vers tout autre ordinateur, serveur, site Internet ou autre support pour publication ou distribution ou pour toute entreprise ou exploitation commerciale, sans consentement pr&eacute;alable formellement exprim&eacute; par &eacute;crit.</p>
<p>4.3 &nbsp;Si vous avez connaissance d&rsquo;une telle distribution, exploitation commerciale ou autre utilisation non autoris&eacute;e de notre Contenu, vous pouvez nous signaler les faits par courrier &eacute;lectronique adress&eacute; &agrave;&nbsp;<a href="mailto:ataliasarl.ase@gmail.com" target="_blank" rel="noopener">ataliasarl.ase@gmail.com</a>&nbsp;</p>
<p>4.4 &nbsp;Vous reconnaissez qu&rsquo;en publiant du Contenu sur le Site, vous nous accordez, &agrave; nous-m&ecirc;mes ainsi qu&rsquo;&agrave; nos conc&eacute;dants et ayants droit, une licence mondiale, irr&eacute;vocable, pour la dur&eacute;e l&eacute;gale de protection des droits de propri&eacute;t&eacute; intellectuelle applicables et libre de droits pour utiliser, reproduire, repr&eacute;senter, adapter, modifier, traduire votre Contenu sur le Site. Si nous d&eacute;cidons d&rsquo;utiliser votre Contenu de toute autre mani&egrave;re, nous vous contacterons, sauf si nous vous avertissons express&eacute;ment au moment o&ugrave; vous fournissez ledit Contenu.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>5. Responsabilit&eacute; au titre des informations fournies sur le Site</p>
<p>5.1 &nbsp;Contenu de tiers. Nous d&eacute;clinons toute responsabilit&eacute; pour les Contenus qui sont publi&eacute;s sur le Site par une tierce personne, y compris les annonceurs et les Utilisateurs, et nous ne sommes pas responsables de ces Contenus.</p>
<p>Nous nous r&eacute;servons le droit de contr&ocirc;ler les contributions effectu&eacute;es et nous pouvons r&eacute;pondre aux communications que vous effectuez, ou les commenter, et &eacute;galement modifier, refuser de publier, ou supprimer tout contenu des espaces d&rsquo;annonce (le cas &eacute;ch&eacute;ant) ou autrement mis &agrave; disposition par l&rsquo;interm&eacute;diaire de notre Site de temps &agrave; autre. Le fait de ne pas avoir supprim&eacute; un mat&eacute;riel particulier n&rsquo;implique pas notre approbation ou acceptation de ce mat&eacute;riel.</p>
<p>5.2 &nbsp;Nous d&eacute;clinons toute responsabilit&eacute; quant au Contenu, &agrave; l&rsquo;exactitude, &agrave; la tenue &agrave; jour et &agrave; la fiabilit&eacute; des informations ou affirmations contenues sur le Site, ou quant aux affirmations, conseils ou opinions effectu&eacute;es ou donn&eacute;es par les Utilisateurs (sauf dans la mesure requise par la loi). Si vous avez une r&eacute;clamation d&eacute;coulant des actions ou d&eacute;clarations d&rsquo;un autre Utilisateur, vous acceptez de la faire valoir contre cet Utilisateur et non contre nous.</p>
<p>Nous mettrons en &oelig;uvre des efforts raisonnables pour mettre le Site &agrave; disposition. Sauf dans la mesure requise par la loi, nous d&eacute;clinons toute responsabilit&eacute; quant &agrave; la qualit&eacute;, l&rsquo;exactitude ou l&rsquo;adaptation &agrave; un usage particulier du Site.</p>
<p>5.3 &nbsp;Nous sommes responsables en cas de d&eacute;claration frauduleuse ou manquement de notre part et en cas de d&eacute;c&egrave;s ou de blessure corporelle caus&eacute;e par notre n&eacute;gligence. Dans la mesure permise par la loi, nous d&eacute;clinons toute responsabilit&eacute; &agrave; votre &eacute;gard pour toute autre perte ou dommage indirect que vous ou une tierce partie &ecirc;tes susceptibles d&rsquo;encourir en cons&eacute;quence de, ou en lien avec votre utilisation du Site.</p>
<p>6. Clauses de non-responsabilit&eacute;</p>
<p>6.1 DANS LA MESURE PERMISE PAR LA LOI, NOUS NE PROMETTONS AUCUNEMENT QUE LE SITE OU UN QUELCONQUE &Eacute;L&Eacute;MENT DE CONTENU, SERVICE OU FONCTION DU SITE SERA D&Eacute;POURVU D&rsquo;ERREUR OU ININTERROMPU, QUE LES &Eacute;VENTUELS D&Eacute;FAUTS SERONT CORRIG&Eacute;S, OU QUE VOTRE UTILISATION DU SITE PRODUIRA DES R&Eacute;SULTATS PARTICULIERS. LE SITE ET SON CONTENU SONT PROPOS&Eacute;S &laquo;&nbsp;EN L&rsquo;&Eacute;TAT&nbsp;&raquo; ET &laquo;&nbsp;SELON LES DISPONIBILIT&Eacute;S&nbsp;&raquo;. TOUTES LES INFORMATIONS CONTENUES SUR LE SITE PEUVENT &Ecirc;TRE MODIFI&Eacute;ES SANS PR&Eacute;AVIS. NOUS NE SOMMES PAS EN MESURE DE GARANTIR QUE LES FICHIERS OU AUTRES DONN&Eacute;ES QUE VOUS T&Eacute;L&Eacute;CHARGEZ &Agrave; PARTIR DU SITE SERONT D&Eacute;POURVUS DE VIRUS, DE CONTAMINATION OU DE CARACT&Eacute;RISTIQUES DESTRUCTRICES. NOUS D&Eacute;CLINONS TOUTE GARANTIE, Y COMPRIS TOUTE. NOUS D&Eacute;CLINONS TOUTE RESPONSABILIT&Eacute; QUANT AUX ACTIONS, OMISSIONS ET CONDUITES DE TIERCES PARTIES EN LIEN OU EN RELATION AVEC VOTRE UTILISATION DU SITE OU D&rsquo;UN QUELCONQUE SERVICE. VOUS ENDOSSEZ L&rsquo;INT&Eacute;GRALIT&Eacute; DE LA RESPONSABILIT&Eacute; POUR VOTRE UTILISATION DU SITE ET DE TOUT SITE RELI&Eacute;. VOTRE UNIQUE RECOURS CONTRE NOUS EN CAS D&rsquo;INSATISFACTION QUANT AU SITE OU &Agrave; UN &Eacute;L&Eacute;MENT DE CONTENU EST DE CESSER D&rsquo;UTILISER LE SITE OU L&rsquo;&Eacute;L&Eacute;MENT DE CONTENU EN QUESTION.</p>
<p>Les limitations de responsabilit&eacute; qui pr&eacute;c&egrave;dent s&rsquo;appliquent aux pr&eacute;judices, mises en cause de la responsabilit&eacute; ou blessures caus&eacute;s par tout d&eacute;faut d&rsquo;ex&eacute;cution, erreur, omission, interruption, suppression, d&eacute;faut, retard d&rsquo;exploitation ou de transmission, virus informatique, d&eacute;faillance des lignes de communication, vol, destruction, acc&egrave;s non autoris&eacute;, alt&eacute;ration, utilisation, que ce soit sur le plan contractuel, de la n&eacute;gligence ou de toute autre cause d&rsquo;action.</p>
<p>6.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nous nous r&eacute;servons le droit, &agrave; tout moment et sans pr&eacute;avis, de: (1) modifier, suspendre ou mettre fin au fonctionnement du Site ou &agrave; l&rsquo;acc&egrave;s au Site, ou &agrave; toute partie du Site, pour quelque motif que ce soit&nbsp;; (2) modifier ou changer le Site, ou toute partie du Site; et (3) interrompre le fonctionnement du Site, ou toute partie du Site, dans la mesure n&eacute;cessaire pour ex&eacute;cuter des op&eacute;rations de maintenance p&eacute;riodique ou exceptionnelle, corriger des erreurs, ou effectuer d&rsquo;autres modifications.</p>
<p>6.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Limitation de responsabilit&eacute;. Sauf dans la mesure o&ugrave; la loi l&rsquo;interdit, nous ne pourrons en aucun cas &ecirc;tre tenus responsables &agrave; votre &eacute;gard pour toute (i) perte de b&eacute;n&eacute;fices (ii) interruption commerciale (iii) perte de client&egrave;le ou de r&eacute;putation ou autre, ou pour tout dommage indirect, m&ecirc;me si nous avons &eacute;t&eacute; avertis de la probabilit&eacute; des dommages.</p>
<p>7. Indemnisation&nbsp;; Violation ou d&eacute;faut de conformit&eacute; avec les pr&eacute;sentes Conditions d&rsquo;utilisation</p>
<p>Indemnisation&nbsp;; Violation ou d&eacute;faut de conformit&eacute; avec les pr&eacute;sentes Conditions d&rsquo;utilisation</p>
<p>7.1 &nbsp; Nous pouvons communiquer toute information que nous d&eacute;tenons &agrave; votre sujet (y compris votre identit&eacute;) si nous d&eacute;terminons que cette communication est n&eacute;cessaire dans le cadre d&rsquo;une enqu&ecirc;te ou d&rsquo;une plainte concernant votre utilisation du Site, ou dans le but d&rsquo;identifier, de contacter ou de poursuivre en justice quelqu&rsquo;un qui est susceptible de porter atteinte (intentionnellement ou non) &agrave; nos droits ou notre propri&eacute;t&eacute;, ou aux droits ou &agrave; la propri&eacute;t&eacute; des visiteurs ou Utilisateurs du Site, y compris nos clients et annonceurs. Nous nous r&eacute;servons le droit &agrave; tout moment de communiquer toute information que nous jugeons n&eacute;cessaire pour nous conformer &agrave; une loi ou r&eacute;glementation en vigueur, proc&eacute;dure judiciaire ou demande d&rsquo;une autorit&eacute; comp&eacute;tente. Nous pouvons &eacute;galement communiquer vos informations d&egrave;s lors que cette communication est exig&eacute;e et/ou autoris&eacute;e par la loi, notamment le partage des informations avec d&rsquo;autres soci&eacute;t&eacute;s et organisations dans le cadre de la lutte contre la fraude. Pour plus d&rsquo;information concernant vos donn&eacute;es personnelles, veuillez consulter notre politique en mati&egrave;re de Politique de confidentialit&eacute; consultable en suivant le lien suivant :&nbsp;<a href="https://www.voyage.fr/politique-de-confidentialite" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.voyage.fr/politique-de-confidentialite&amp;source=gmail&amp;ust=1574900092846000&amp;usg=AFQjCNGieKYsku2tjwgtd8v7UySgZJVYLA">www</a>.<a href="http://allosanteexpress.com/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://allosanteexpress.com&amp;source=gmail&amp;ust=1574900092846000&amp;usg=AFQjCNGZUbOKzMV7xmm244JmPZ1L8gxhrQ">allosanteexpress.com</a>&nbsp;</p>
<p>7.2 &nbsp;Vous reconnaissez que nous sommes autoris&eacute;s &agrave; conserver toute transmission ou communication que vous nous adressez par l&rsquo;interm&eacute;diaire du Site ou de tout service propos&eacute; sur le Site ou par l&rsquo;interm&eacute;diaire du Site, et nous pouvons &eacute;galement communiquer ces donn&eacute;es si la loi l&rsquo;exige ou si nous d&eacute;terminons que cette conservation ou communication est raisonnablement n&eacute;cessaire pour (1) nous conformer &agrave; une proc&eacute;dure l&eacute;gale, (2) faire appliquer les pr&eacute;sentes Conditions d&rsquo;utilisation, (3) r&eacute;pondre &agrave; des r&eacute;clamations arguant que ces donn&eacute;es constituent une atteinte aux droits de tiers, ou (4) prot&eacute;ger nos droits, notre propri&eacute;t&eacute; ou la s&eacute;curit&eacute; personnelle de nos employ&eacute;s, des Utilisateurs et visiteurs du Site et du public.</p>
<p>7.3 &nbsp;Vous reconnaissez que nous pouvons, sans pr&eacute;avis, mettre fin &agrave; votre acc&egrave;s au Site ou bloquer votre futur acc&egrave;s au site, pour les motifs suivants (1) demande &eacute;manant d&rsquo;institutions charg&eacute;es de l&rsquo;application de la loi ou autres autorit&eacute;s, (2) demande de votre part (suppression de compte &agrave; l&rsquo;initiative du titulaire), (3) interruption ou modification substantielle du Site ou de tout service propos&eacute; sur le Site ou par l&rsquo;interm&eacute;diaire du Site, ou (4) probl&egrave;mes techniques inattendus et (5) si nous d&eacute;terminons que vous avez commis une infraction ou n&rsquo;&ecirc;tes pas en conformit&eacute; avec les pr&eacute;sentes Conditions d&rsquo;utilisation ou autres accords ou instructions publi&eacute;s sur le Site qui peuvent &ecirc;tre associ&eacute;s avec votre utilisation du Site.</p>
<p>8. Confidentialit&eacute;</p>
<p>8.1 Nous nous conformerons &agrave; l&rsquo;ensemble des lois en vigueur en France en mati&egrave;re de protection des donn&eacute;es personnelles que nous recueillons &agrave; votre sujet. Pour plus d&rsquo;informations au sujet de notre politique de confidentialit&eacute;, veuillez consulter notre&nbsp;<a href="https://www.voyage.fr/politique-en-matiere-de-cookies-2018" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.voyage.fr/politique-en-matiere-de-cookies-2018&amp;source=gmail&amp;ust=1574900092846000&amp;usg=AFQjCNFa5d1Xx8mDYTGXGIGBnUQVdFPNDw">Politique en mati&egrave;re de cookies</a>&nbsp;et en mati&egrave;re de&nbsp;<a href="http://www.voyage.fr/politique-de-confidentialite" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://www.voyage.fr/politique-de-confidentialite&amp;source=gmail&amp;ust=1574900092846000&amp;usg=AFQjCNHOt-ciMKq7XcgHYad6anD_57DqAw">Politique de confidentialit&eacute;</a>.</p>
<p dir="ltr">8.2 &nbsp;Veuillez nous contacter sur&nbsp;<a href="mailto:info5@fox.com" target="_blank" rel="noopener">info5@fox.com</a>&nbsp;pour nous faire part de toute modification des informations que vous nous avez pr&eacute;alablement confi&eacute;es, ou si vous souhaitez retirer votre consentement pour notre utilisation de vos Informations d&rsquo;utilisateur pour un motif particulier ou pour un mode particulier de contact promotionnel.</p>
<p>9.&nbsp; Loi applicable&nbsp;; r&egrave;glement des litiges</p>
<p>9.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vous acceptez que toutes les questions relatives &agrave; votre acc&egrave;s ou &agrave; votre utilisation du Site, y compris tous les litiges, soient r&eacute;gies par la loi fran&ccedil;aise, sans &eacute;gard &agrave; ses dispositions en mati&egrave;re de conflit de lois. Vous acceptez la juridiction exclusive des tribunaux comp&eacute;tents fran&ccedil;ais.</p>
<p>9.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dans l&rsquo;&eacute;ventualit&eacute; d&rsquo;un diff&eacute;rend ou litige entre vous et nous, d&eacute;coulant de, ou li&eacute; &agrave; votre utilisation du Site, les parties s&rsquo;efforceront de r&eacute;soudre le diff&eacute;rend ou le litige promptement et de bonne foi. Si nous ne sommes pas en mesure de r&eacute;soudre un tel litige dans un d&eacute;lai raisonnable (qui ne doit pas d&eacute;passer trente (30) jours), chacune des parties peut soumettre le diff&eacute;rend ou le litige &agrave; une m&eacute;diation. Si le litige ne peut &ecirc;tre r&eacute;solu par la m&eacute;diation, les parties seront libres de faire valoir les droits et recours dont elles disposent en vertu de la loi en vigueur.</p>
<p>10. Commentaires</p>
<p>Si vous souhaitez nous faire part de vos commentaires au sujet du Site ou si vous avez des questions &agrave; son sujet, veuillez nous contacter &agrave; l&rsquo;adresse&nbsp;<a href="mailto:Ataliasarl.ase@gmail.com" target="_blank" rel="noopener">Ataliasarl.ase@gmail.com</a>&nbsp;&nbsp;; Violation ou d&eacute;faut de conformit&eacute; avec les pr&eacute;sentes Conditions d&rsquo;utilisation</p>
			</div>
		</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->
	<!-- footer -->
</div>
<script src="../js/jquery.min.js"> </script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"> </script>
<script src="../js/mdb.min.js"> </script>
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>
</body>
</html>