
<div class="copy">
    <p> &copy; 2019 Allô Santé Express. Tout droit reservé </p>
</div>
</div>
<div class="clearfix"> </div>
</div>
</div>

<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>
<script src="../js/bootstrap.min.js"> </script>
</body>
</html>